html {
  height: 100%;
  background: black;
}

body {
  height: inherit;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.add-button {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 60px;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
